Rational.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Rational.xcodeproj/project.xcworkspace/xcuserdata/michaelhendrickson.xcuserdatad/WorkspaceSettings.xcsettings
Rational.xcodeproj/xcuserdata/michaelhendrickson.xcuserdatad/xcschemes/Rational.xcscheme
Rational.xcodeproj/xcuserdata/michaelhendrickson.xcuserdatad/xcschemes/xcschememanagement.plist
